*.iml
modules.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/.externalNativeBuild
/release/.idea
/release/.gradle
/release/app/build/
/release/mpon_sdk_1.0.2/
/release/MponSdk-android-v1.0.2/

